<html lang="ja">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODOアプリ</title>
</head>

<body>
    <h1>TODOアプリ</h1>

    <form action="/search/incomp" method="GET">
    	<input type="submit" id="search_incomp" value="未完了検索">
    </form>

    <form action="/search/all" method="GET">
    	<input type="submit" id="search_all" value="一覧検索">
    </form>

	<div>{{resultData}}<div>

	<ul>{% for result in resultData %}
            <li>
                Content:{{result.Content}}
            </li>
            <li>
                Priority:{{result.Priority}}
            </li>
            <li>
                Status:{{result.Status}}
            </li>
        {% endfor %}
    </ul>

</body>

</html>