<html lang="ja">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODOアプリ</title>
</head>

<body>
    <h1>TODOアプリ</h1>

    <form action="/tododata" method="GET">
    	<input type="submit" value="一覧検索">
    </form>

    <form action="/tododata/incomp" method="GET">
    	<input type="submit" value="未完了検索">
    </form>

    <form action="/tododata" method="POST">
    	<input type="text" name="content" value="">
    	<input type="submit" value="登録">
    </form>

    <form action="/tododata/delete" method="POST">
    	<input type="text" name="content" value="">
    	<input type="submit" value="削除">
    </form>

	<table border="1" cellspacing="0" cellpadding="0">
		<tr>
			<th>内容</th>
			<th>状態(0:未完了, 1:完了)</th>
		</tr>
		{% for result in resultData %}
		<tr>
			<td>{{result.Content}}</td>
			<td>{{result.Status}}</td>
		</tr>
        {% endfor %}
	</table>

</body>

</html>